<a href="https://www.kaggle.com/code/sathyadatascience/avatar-retail-analytics?scriptVersionId=102120566" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/retaildataset/stores data-set.csv
/kaggle/input/retaildataset/Features data set.csv
/kaggle/input/retaildataset/sales data-set.csv

Step 1: Load of Raw Data into the Data Frame 
Here below 3 Raw data files are loaded as Dataframes
1. Features data set.csv
2. sales data-set.csv
3. stores data-set.csv

In [2]:
df_feature=pd.read_csv('/kaggle/input/retaildataset/Features data set.csv')
df_sales=pd.read_csv('/kaggle/input/retaildataset/sales data-set.csv')
df_stores=pd.read_csv('/kaggle/input/retaildataset/stores data-set.csv')

Step 2: Validate the Dataframe by selecting the first 10 lines using the head Command

In [3]:
print(df_feature.head(10))
print(df_sales.head(10))
print(df_stores.head(10))

   Store        Date  Temperature  Fuel_Price  MarkDown1  MarkDown2  \
0      1  05/02/2010        42.31       2.572        NaN        NaN
1      1  12/02/2010        38.51       2.548        NaN        NaN
2      1  19/02/2010        39.93       2.514        NaN        NaN
3      1  26/02/2010        46.63       2.561        NaN        NaN
4      1  05/03/2010        46.50       2.625        NaN        NaN
5      1  12/03/2010        57.79       2.667        NaN        NaN
6      1  19/03/2010        54.58       2.720        NaN        NaN
7      1  26/03/2010        51.45       2.732        NaN        NaN
8      1  02/04/2010        62.27       2.719        NaN        NaN
9      1  09/04/2010        65.86       2.770        NaN        NaN

   MarkDown3  MarkDown4  MarkDown5         CPI  Unemployment  IsHoliday
0        NaN        NaN        NaN  211.096358         8.106      False
1        NaN        NaN        NaN  211.242170         8.106       True
2        NaN        NaN        NaN  211.289143         8.106      False
3        NaN        NaN        NaN  211.319643         8.106      False
4        NaN        NaN        NaN  211.350143         8.106      False
5        NaN        NaN        NaN  211.380643         8.106      False
6        NaN        NaN        NaN  211.215635         8.106      False
7        NaN        NaN        NaN  211.018042         8.106      False
8        NaN        NaN        NaN  210.820450         7.808      False
9        NaN        NaN        NaN  210.622857         7.808      False
   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  05/02/2010      24924.50      False
1      1     1  12/02/2010      46039.49       True
2      1     1  19/02/2010      41595.55      False
3      1     1  26/02/2010      19403.54      False
4      1     1  05/03/2010      21827.90      False
5      1     1  12/03/2010      21043.39      False
6      1     1  19/03/2010      22136.64      False
7      1     1  26/03/2010      26229.21      False
8      1     1  02/04/2010      57258.43      False
9      1     1  09/04/2010      42960.91      False
   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875
5      6    A  202505
6      7    B   70713
7      8    A  155078
8      9    B  125833
9     10    B  126512

Step 3: Checking Metadata of the Dataframe

In [4]:
print(df_feature.describe())
print(df_sales.describe())
print(df_stores.describe())

             Store  Temperature   Fuel_Price      MarkDown1      MarkDown2  \
count  8190.000000  8190.000000  8190.000000    4032.000000    2921.000000
mean     23.000000    59.356198     3.405992    7032.371786    3384.176594
std      12.987966    18.678607     0.431337    9262.747448    8793.583016
min       1.000000    -7.290000     2.472000   -2781.450000    -265.760000
25%      12.000000    45.902500     3.041000    1577.532500      68.880000
50%      23.000000    60.710000     3.513000    4743.580000     364.570000
75%      34.000000    73.880000     3.743000    8923.310000    2153.350000
max      45.000000   101.950000     4.468000  103184.980000  104519.540000

           MarkDown3     MarkDown4      MarkDown5          CPI  Unemployment
count    3613.000000   3464.000000    4050.000000  7605.000000   7605.000000
mean     1760.100180   3292.935886    4132.216422   172.460809      7.826821
std     11276.462208   6792.329861   13086.690278    39.738346      1.877259
min      -179.260000      0.220000    -185.170000   126.064000      3.684000
25%         6.600000    304.687500    1440.827500   132.364839      6.634000
50%        36.260000   1176.425000    2727.135000   182.764003      7.806000
75%       163.150000   3310.007500    4832.555000   213.932412      8.567000
max    149483.310000  67474.850000  771448.100000   228.976456     14.313000
               Store           Dept   Weekly_Sales
count  421570.000000  421570.000000  421570.000000
mean       22.200546      44.260317   15981.258123
std        12.785297      30.492054   22711.183519
min         1.000000       1.000000   -4988.940000
25%        11.000000      18.000000    2079.650000
50%        22.000000      37.000000    7612.030000
75%        33.000000      74.000000   20205.852500
max        45.000000      99.000000  693099.360000
           Store           Size
count  45.000000      45.000000
mean   23.000000  130287.600000
std    13.133926   63825.271991
min     1.000000   34875.000000
25%    12.000000   70713.000000
50%    23.000000  126512.000000
75%    34.000000  202307.000000
max    45.000000  219622.000000

In [5]:
df_fs = pd.merge(df_feature,df_sales, left_on =['Store','Date','IsHoliday'],right_on=['Store','Date','IsHoliday'])
df_fss = pd.merge(df_fs,df_stores, left_on =['Store'],right_on=['Store'])
df_fss.dtypes

Store             int64
Date             object
Temperature     float64
Fuel_Price      float64
MarkDown1       float64
MarkDown2       float64
MarkDown3       float64
MarkDown4       float64
MarkDown5       float64
CPI             float64
Unemployment    float64
IsHoliday          bool
Dept              int64
Weekly_Sales    float64
Type             object
Size              int64
dtype: object

In [6]:
df_fss

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday,Dept,Weekly_Sales,Type,Size
0,1,05/02/2010,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,1,24924.50,A,151315
1,1,05/02/2010,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,2,50605.27,A,151315
2,1,05/02/2010,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,3,13740.12,A,151315
3,1,05/02/2010,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,4,39954.04,A,151315
4,1,05/02/2010,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,5,32229.38,A,151315
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421565,45,26/10/2012,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,93,2487.80,B,118221
421566,45,26/10/2012,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,94,5203.31,B,118221
421567,45,26/10/2012,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,95,56017.47,B,118221
421568,45,26/10/2012,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,97,6817.48,B,118221
421569,45,26/10/2012,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,98,1076.80,B,118221