<a href="https://colab.research.google.com/github/sathyanarayanankrishnan/DataScience/blob/main/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Ways to Create Dictionary

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [1]:
my_dict = {}
print (type(my_dict))

<class 'dict'>

Dictonary can contain Multiple Data Types integer, string etc.,

In [40]:
my_dict = {1:'a',2:'b'}
print (my_dict)
my_dict_1 = {1:1,2:'b'}
print (my_dict_1)
my_dict_1 = {1:1,'abc':'b'}
print (my_dict_1)

{1: 'a', 2: 'b'}
{1: 1, 2: 'b'}
{1: 1, 'abc': 'b'}

In [46]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}; 
print (thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

## Yes Dictonary is Mutable

## Insert in Dictonary

In [47]:
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

## Update in a Dictonary

In [48]:
thisdict["brand"] = "Ford Motors USA"
print(thisdict)

{'brand': 'Ford Motors USA', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

## Delete a Dictonary

In [49]:
# Delete a specific element
try:
  print('Before the execution value of thisdict = ',thisdict)
  print(thisdict.pop('color')) 
  print(thisdict)
except (TypeError, ZeroDivisionError,KeyError):
   # Handle multiple exceptions
   # TypeError, ZeroDivisionError and KeyError
   print('Element you tried to remove doen\'t available in the Dictonary (Key)')
   pass
print('Before the execution value of thisdict = ',thisdict)
# Delete an random element
print(thisdict.popitem())
print(thisdict)
print('Before the execution value of thisdict = ',thisdict)
#Remove a specific element
del thisdict['model']
print(thisdict)

# Delete all elements from the dictionary
thisdict.clear()
print(thisdict)

# Finally, eliminate the dictionary object
del thisdict
#print(thisdict)

Before the execution value of thisdict =  {'brand': 'Ford Motors USA', 'model': 'Mustang', 'year': 1964, 'color': 'red'}
red
{'brand': 'Ford Motors USA', 'model': 'Mustang', 'year': 1964}
Before the execution value of thisdict =  {'brand': 'Ford Motors USA', 'model': 'Mustang', 'year': 1964}
('year', 1964)
{'brand': 'Ford Motors USA', 'model': 'Mustang'}
Before the execution value of thisdict =  {'brand': 'Ford Motors USA', 'model': 'Mustang'}
{'brand': 'Ford Motors USA'}
{}

## Interation (Loops) in Dictionary

In [51]:
dict = {"PM":"Narendra Damodardas Modi", "Age":71, "Country":"India"}
for x in dict:
 print(x);# Print keys
 print(dict[x]); # Print values

PM
Narendra Damodardas Modi
Age
71
Country
India

## Maps in Dictionary

In [98]:
aquarium_creatures = [
	{"name": "sammy", "species": "shark", "tank number": 11, "type": "fish"},
	{"name": "ashley", "species": "crab", "tank number": 25, "type": "shellfish"},
	{"name": "jo", "species": "guppy", "tank number": 18, "type": "fish"},
	{"name": "jackie", "species": "lobster", "tank number": 21, "type": "shellfish"},
	{"name": "charlie", "species": "clownfish", "tank number": 12, "type": "fish"},
	{"name": "olly", "species": "green turtle", "tank number": 34, "type": "turtle"}
]
print(type(aquarium_creatures))

<class 'list'>

In [100]:
def assign_to_tank(aquarium_creatures, new_tank_number):
	def apply(x):
		x["tank number"] = new_tank_number
		return x
	return map(apply, aquarium_creatures)
assigned_tanks = assign_to_tank(aquarium_creatures, 42)
print(list(assigned_tanks))

[{'name': 'sammy', 'species': 'shark', 'tank number': 42, 'type': 'fish'}, {'name': 'ashley', 'species': 'crab', 'tank number': 42, 'type': 'shellfish'}, {'name': 'jo', 'species': 'guppy', 'tank number': 42, 'type': 'fish'}, {'name': 'jackie', 'species': 'lobster', 'tank number': 42, 'type': 'shellfish'}, {'name': 'charlie', 'species': 'clownfish', 'tank number': 42, 'type': 'fish'}, {'name': 'olly', 'species': 'green turtle', 'tank number': 42, 'type': 'turtle'}]

## Dictionary with Lambda Functions

In [2]:
L = [('Sam', 35),
    ('Max', 25),
    ('Bob', 30)]
print(L)
x = sorted(L, key=lambda student: student[1])
print(x)

[('Sam', 35), ('Max', 25), ('Bob', 30)]
[('Max', 25), ('Bob', 30), ('Sam', 35)]

## Dictonary Concatenation

In [7]:
Dict_A = {1:1,2:4,3:9}
Dict_B = {4:16, 5:25}
Dict_C = {6:36, 7:49}
dall = {}
for d in [Dict_A, Dict_B, Dict_C]:
  dall.update(d)

print (dall)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

## Dictonay with Zip Function

In [8]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]
dictionary = dict(zip(keys, values))
print(dictionary) # {'a': 1, 'b': 2, 'c': 3}

{'a': 1, 'b': 2, 'c': 3}

# Dictonary Conver to other Data Types

## Dictionary to List

In [29]:
print ('Current Dictionary ', dall)
list_keys = list( dall.keys())
list_values =list ( dall.values())
print ('list_keys ',  list_keys ,' Data type ::: ' , type (list_keys))
print ('list_values ',  list_values ,' Data type ::: ' , type (list_values))

Current Dictionary  {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}
list_keys  [1, 2, 3, 4, 5, 6, 7]  Data type :::  <class 'list'>
list_values  [1, 4, 9, 16, 25, 36, 49]  Data type :::  <class 'list'>

##Dictionary to Tuple

In [33]:
print ('Current Dictionary ', dall)
tuple_1 = tuple( dall.keys())
tuple_2 =tuple ( dall.values())
print ('tuple_1 ',  tuple_1 ,' Data type ::: ' , type (tuple_1))
print ('tuple_2 ',  tuple_2 ,' Data type ::: ' , type (tuple_2))

Current Dictionary  {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}
tuple_1  (1, 2, 3, 4, 5, 6, 7)  Data type :::  <class 'tuple'>
tuple_2  (1, 4, 9, 16, 25, 36, 49)  Data type :::  <class 'tuple'>

## Dictionary to Set

In [34]:
print ('Current Dictionary ', dall)
set_1 = set( dall.keys())
set_2 = set ( dall.values())
print ('set_1 ',  set_1 ,' Data type ::: ' , type (set_1))
print ('set_2 ',  set_2 ,' Data type ::: ' , type (set_2))

Current Dictionary  {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}
set_1  {1, 2, 3, 4, 5, 6, 7}  Data type :::  <class 'set'>
set_2  {1, 4, 36, 9, 16, 49, 25}  Data type :::  <class 'set'>

## Dictionary to String

In [36]:
print ('Current Dictionary ', dall)
str_1 = str( dall.keys())
str_2 = str ( dall.values())
print ('str_1 ',  str_1 ,' Data type ::: ' , type (str_1))
print ('str_2 ',  str_2 ,' Data type ::: ' , type (str_2))

Current Dictionary  {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}
str_1  dict_keys([1, 2, 3, 4, 5, 6, 7])  Data type :::  <class 'str'>
str_2  dict_values([1, 4, 9, 16, 25, 36, 49])  Data type :::  <class 'str'>

## Happy Learning !