<a href="https://colab.research.google.com/github/sathyanarayanankrishnan/DataScience/blob/main/ML_Telecom_KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("Welcome to the KNN Machine Learning Model of Sathya Narayanan K")

Welcome to the KNN Machine Learning Model of Sathya Narayanan K

In [ ]:
import pandas as pd
url = 'https://raw.githubusercontent.com/balaji2v/Inceptez_Batch19/main/teleCust1000t.csv'
df = pd.read_csv(url)
print (df)

     region  tenure  age  marital  address  income  ed  employ  retire  \
0         2      13   44        1        9    64.0   4       5     0.0
1         3      11   33        1        7   136.0   5       5     0.0
2         3      68   52        1       24   116.0   1      29     0.0
3         2      33   33        0       12    33.0   2       0     0.0
4         2      23   30        1        9    30.0   1       2     0.0
..      ...     ...  ...      ...      ...     ...  ..     ...     ...
995       3      10   39        0        0    27.0   3       0     0.0
996       1       7   34        0        2    22.0   5       5     0.0
997       3      67   59        0       40   944.0   5      33     0.0
998       3      70   49        0       18    87.0   2      22     0.0
999       3      50   36        1        7    39.0   3       3     0.0

     gender  reside  custcat
0         0       2        1
1         0       6        4
2         1       2        3
3         1       1        1
4         0       4        3
..      ...     ...      ...
995       1       3        1
996       1       1        1
997       1       1        4
998       1       1        3
999       1       3        2

[1000 rows x 12 columns]

In [ ]:
df.head(10)

,region,tenure,age,marital,address,income,ed,employ,retire,gender,reside,custcat
0,2,13,44,1,9,64.0,4,5,0.0,0,2,1
1,3,11,33,1,7,136.0,5,5,0.0,0,6,4
2,3,68,52,1,24,116.0,1,29,0.0,1,2,3
3,2,33,33,0,12,33.0,2,0,0.0,1,1,1
4,2,23,30,1,9,30.0,1,2,0.0,0,4,3
5,2,41,39,0,17,78.0,2,16,0.0,1,1,3
6,3,45,22,1,2,19.0,2,4,0.0,1,5,2
7,2,38,35,0,5,76.0,2,10,0.0,0,3,4
8,3,45,59,1,7,166.0,4,31,0.0,0,5,3
9,1,68,41,1,21,72.0,1,22,0.0,0,3,2

In [ ]:
df.describe(include='all')

,region,tenure,age,marital,address,income,ed,employ,retire,gender,reside,custcat
count,1000.0000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,2.0220,35.526000,41.684000,0.495000,11.551000,77.535000,2.671000,10.987000,0.047000,0.517000,2.331000,2.487000
std,0.8162,21.359812,12.558816,0.500225,10.086681,107.044165,1.222397,10.082087,0.211745,0.499961,1.435793,1.120306
min,1.0000,1.000000,18.000000,0.000000,0.000000,9.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,1.0000,17.000000,32.000000,0.000000,3.000000,29.000000,2.000000,3.000000,0.000000,0.000000,1.000000,1.000000
50%,2.0000,34.000000,40.000000,0.000000,9.000000,47.000000,3.000000,8.000000,0.000000,1.000000,2.000000,3.000000
75%,3.0000,54.000000,51.000000,1.000000,18.000000,83.000000,4.000000,17.000000,0.000000,1.000000,3.000000,3.000000
max,3.0000,72.000000,77.000000,1.000000,55.000000,1668.000000,5.000000,47.000000,1.000000,1.000000,8.000000,4.000000

In [ ]:
df_x = df.iloc[:,:-1]

In [ ]:
df_x

,region,tenure,age,marital,address,income,ed,employ,retire,gender,reside
0,2,13,44,1,9,64.0,4,5,0.0,0,2
1,3,11,33,1,7,136.0,5,5,0.0,0,6
2,3,68,52,1,24,116.0,1,29,0.0,1,2
3,2,33,33,0,12,33.0,2,0,0.0,1,1
4,2,23,30,1,9,30.0,1,2,0.0,0,4
...,...,...,...,...,...,...,...,...,...,...,...
995,3,10,39,0,0,27.0,3,0,0.0,1,3
996,1,7,34,0,2,22.0,5,5,0.0,1,1
997,3,67,59,0,40,944.0,5,33,0.0,1,1
998,3,70,49,0,18,87.0,2,22,0.0,1,1
999,3,50,36,1,7,39.0,3,3,0.0,1,3

In [ ]:
df_y = df.iloc[:,-1:]
df_y

     custcat
0          1
1          4
2          3
3          1
4          3
..       ...
995        1
996        1
997        4
998        3
999        2

[1000 rows x 1 columns]

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, precision_score, confusion_matrix, classification_report

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(df_x,df_y, test_size=0.33, random_state=42)

In [ ]:
standard_scaler = StandardScaler()

In [ ]:
x_train_scaler =standard_scaler.fit(x_train)
x_train_trans_scaler = standard_scaler.transform(x_train)

In [ ]:
#x_test_scaler = standard_scaler.fit(x_test)
x_test_trans_scaler = standard_scaler.transform(x_test)

In [ ]:
x_test.shape

(330, 11)

In [ ]:
model = KNeighborsClassifier(n_neighbors=5)
model.fit(x_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier()

Test Data Prediction

In [ ]:
y_pred_test = model.predict(x_test)

In [ ]:
print(y_pred_test)

[3 2 3 3 1 3 3 1 1 4 2 1 2 3 3 1 2 2 1 2 3 4 1 1 4 4 2 1 1 1 1 1 3 4 3 1 3
 2 3 2 2 4 2 3 1 3 4 1 1 3 2 3 1 1 1 3 4 1 4 1 1 2 1 2 3 2 1 1 1 1 1 2 1 1
 3 4 1 2 2 1 4 3 2 3 1 3 3 1 1 2 2 1 3 2 2 2 2 1 4 1 3 4 1 2 4 1 1 3 4 2 2
 1 1 1 1 1 3 1 2 3 4 3 3 3 3 4 4 2 1 3 1 4 4 1 1 2 3 4 1 4 2 3 1 2 1 2 2 2
 2 1 1 3 3 3 3 1 1 3 3 1 3 1 3 1 1 1 4 3 3 1 1 3 3 4 3 2 1 1 1 1 3 4 2 3 1
 3 1 2 2 2 2 1 2 4 1 1 1 4 4 3 1 4 2 4 1 4 3 3 4 3 3 2 2 3 3 3 1 1 3 4 2 2
 2 1 1 4 4 4 3 2 3 1 4 1 1 2 3 4 1 1 3 3 2 4 1 3 2 3 1 4 1 2 4 2 2 4 3 3 3
 4 4 2 2 2 1 2 2 1 3 3 3 1 3 1 1 3 1 3 1 2 1 2 3 1 4 1 4 3 3 2 3 3 3 2 3 2
 3 4 4 1 3 2 1 4 3 1 3 4 1 2 1 1 1 2 2 3 1 1 1 2 1 3 4 2 3 1 2 1 1 3]

In [ ]:
acc_score = accuracy_score(y_test, y_pred_test)

In [ ]:
y_train.shape

(670, 1)

In [ ]:
acc_score = accuracy_score(y_test, y_pred_test)

In [ ]:
from sklearn.metrics import precision_score
pre_score = precision_score(y_test, y_pred_test,pos_label='NO')
print (pre_score)

ValueError: ignored

In [ ]:
from sklearn.metrics import precision_score
pre_score = precision_score(y_test, y_pred_test,pos_label='YES')
print (pre_score)

ValueError: ignored

In [ ]:
print(acc_score)

0.7362204724409449

In [ ]:
y_test[:-20]

     Class variable
668              NO
324              NO
624              NO
690              NO
473              NO
..              ...
329              NO
302              NO
334              NO
139              NO
485             YES

[234 rows x 1 columns]

In [ ]:
y_pred_test[:-20]

array(['NO', 'NO', 'NO', 'NO', 'YES', 'YES', 'NO', 'NO', 'NO', 'YES',
       'NO', 'YES', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO',
       'NO', 'NO', 'YES', 'NO', 'YES', 'YES', 'NO', 'NO', 'NO', 'NO',
       'YES', 'YES', 'YES', 'NO', 'YES', 'YES', 'YES', 'NO', 'YES', 'NO',
       'NO', 'NO', 'NO', 'YES', 'NO', 'YES', 'YES', 'NO', 'NO', 'YES',
       'NO', 'YES', 'YES', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'YES',
       'YES', 'NO', 'YES', 'YES', 'NO', 'YES', 'NO', 'YES', 'NO', 'YES',
       'YES', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO',
       'YES', 'NO', 'NO', 'NO', 'NO', 'YES', 'YES', 'NO', 'NO', 'NO',
       'NO', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'YES', 'NO',
       'YES', 'NO', 'YES', 'YES', 'YES', 'NO', 'NO', 'YES', 'NO', 'YES',
       'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO',
       'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'YES', 'YES', 'YES', 'YES',
       'YES', 'NO', 'YES', 'YES', 'NO', 'NO', 'YES', 'YES', 'NO', 'NO',
       'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO',
       'YES', 'NO', 'NO', 'YES', 'NO', 'YES', 'YES', 'NO', 'NO', 'YES',
       'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'YES', 'YES', 'YES', 'NO',
       'NO', 'YES', 'YES', 'NO', 'NO', 'YES', 'NO', 'NO', 'YES', 'YES',
       'NO', 'YES', 'YES', 'NO', 'NO', 'NO', 'YES', 'YES', 'NO', 'NO',
       'YES', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO',
       'YES', 'YES', 'NO', 'NO', 'NO', 'YES', 'YES', 'NO', 'NO', 'NO',
       'NO', 'YES', 'NO', 'YES', 'NO', 'NO', 'YES', 'YES', 'NO', 'NO',
       'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'YES', 'YES'],
      dtype='<U3')

In [ ]:
confusion_matrix(y_pred_test , y_test )

array([[133,  32],
       [ 35,  54]])

In [ ]:
confusion_matrix(y_test, y_pred_test )

array([[44, 15, 16, 16],
       [30, 19, 18,  8],
       [36, 20, 21, 11],
       [34, 15, 15, 12]])

In [ ]:
print(classification_report(y_test, y_pred_test))

              precision    recall  f1-score   support

           1       0.31      0.48      0.37        91
           2       0.28      0.25      0.26        75
           3       0.30      0.24      0.27        88
           4       0.26      0.16      0.20        76

    accuracy                           0.29       330
   macro avg       0.28      0.28      0.27       330
weighted avg       0.29      0.29      0.28       330

In [ ]:
from yellowbrick.classifier import ConfusionMatrix
cm = ConfusionMatrix(model, classes=[1,2,3,4])

In [ ]:
cm.fit(x_train, y_train)

# To create the ConfusionMatrix, we need some test data. Score runs predict() on the data
# and then creates the confusion_matrix from scikit-learn.
cm.score(x_test, y_test)

# How did we do?
cm.show()

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  "X does not have valid feature names, but"

ModelError: ignored