Import the pandas library  
Read the data company.csv in pandas

Find the dimension of given data

List down all the columns in data frame

List the top 10 rows in datframe

List the last 15 rows in datframe

Find the number of rows in dataframe

Check the information of dataframe

Check the basic Statistics of Dataframe. Give your inference from the stats

Retrieve 20 to 100 rows and Company and age usig iloc

Retrieve 20 to 100 rows and Company and age usig loc

Chage the data in 100 row and Place as 'Noida'

Change the column 'Place' to 'City'

List down the unique data in each columns and find length of unique data

Rename all the possible labels of column in Company as three labels
TCS
CTS
Infosys

In [ ]:
#Where ever you see age as 0 replace with NA

##Hint df[df.Age==20] = np.isnan

Check how many duplicated data is there?

Remove all duplicated rowise data

Remove the column 'Country'

Remove the row number 137

Find number of each labels in Company

Find number of each labels in City

Find Number of Null Values in each column

Remove all Null values in Salary

Replace the Null values in Comapany with mode

Replace the null value in Salary with median

Replace the null value in age with mean

Filter the data with age>40 and Salary<5000

Draw the pie chart for place and Company

Find the mean age with repective to the Company

Draw an histogram chart for age, Salary

Find the mean, count, median of salary with repective to the place