<a href="https://colab.research.google.com/github/sathyanarayanankrishnan/DataScience/blob/main/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Ways to Create Tuple

In [2]:
my_tuple = tuple()
# Returns the type of Tuple
type(my_tuple)
my_tuple_1 = tuple('')
print(my_tuple)
print(my_tuple_1)

()
()

## tuple can contain Multiple Data Types integer, string etc.,

In [3]:
tuple_1 = (1, 3, "string", 4.3) #  accepts duplicates and different datatypes
print(tuple_1)

(1, 3, 'string', 4.3)

## Iteration in tuple

In [12]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

## Map function with tuple

In [36]:
def change_upper_case(s):
 return str(s).upper()
char = (5, 'n', 'ghk') 
result = map(change_upper_case, char)
print(tuple(result))

('5', 'N', 'GHK')

## Lambda with tuple

In [41]:
my_tuple = (5, 'n', 'ghk') 
result = map(lambda i:str(i).upper(), my_tuple)
print(tuple(result))

('5', 'N', 'GHK')

## Comprehension in tuple

In [45]:
tuple1 = (1,2,56,5,8,98,7)
tuple2=tuple(i for i in tuple1 if i%2==0)
print(tuple2)

(2, 56, 8, 98)

## Concatenation in tuple

In [46]:
my_tuple_1 = (11, 14, 0, 78, 33, 11)
my_tuple_2 = (10, 78, 0, 56, 8, 34)

print("The first tuple is : ")
print(my_tuple_1)
print("The second tuple is : ")
print(my_tuple_2)

my_result = my_tuple_1 + my_tuple_2

print("The tuple after concatenation is : " )
print(my_result)

The first tuple is :
(11, 14, 0, 78, 33, 11)
The second tuple is :
(10, 78, 0, 56, 8, 34)
The tuple after concatenation is :
(11, 14, 0, 78, 33, 11, 10, 78, 0, 56, 8, 34)

## Duplication in tuple

In [51]:
numbers = (0, 1, 2) * 3
print ( 'Data type :: ', type(numbers),' Tuple Value ', numbers)

Data type ::  <class 'tuple'>  Tuple Value  (0, 1, 2, 0, 1, 2, 0, 1, 2)

## Convert tuple to other datatypes

In [70]:
my_tuple_1 = (11, 14, 0, 78, 33, 11)
print('Object is ', my_tuple_1,'  Type of the Object is ', type(my_tuple_1))
mylist = list(my_tuple_1)
print('Object is ', mylist,'  Type of the Object is ', type(mylist))
myset = set(my_tuple_1)
print('Object is ', myset,'  Type of the Object is ', type(myset))
# initializing set
my_tuple_1 = (11, 14, 0, 78, 33, 11)
# printing initialized set
print ("initial tuple", my_tuple_1)
print (type(my_tuple_1))
# Converting tuple to dict
res = {element:element*element for element in my_tuple_1}
# printing final result and its type
print ("final Dictonary", res)
print (type(res))

my_string_tuple =('This ','is',' Rolex')
my_team = str(my_string_tuple)
print (' Data type == ',type(my_team))
my_team_name=''.join(my_team)
print (my_team_name)

Object is  (11, 14, 0, 78, 33, 11)   Type of the Object is  <class 'tuple'>
Object is  [11, 14, 0, 78, 33, 11]   Type of the Object is  <class 'list'>
Object is  {0, 33, 11, 78, 14}   Type of the Object is  <class 'set'>
initial tuple (11, 14, 0, 78, 33, 11)
<class 'tuple'>
final Dictonary {11: 121, 14: 196, 0: 0, 78: 6084, 33: 1089}
<class 'dict'>
 Data type ==  <class 'str'>
('This ', 'is', ' Rolex')

## Zip Function in Tuples

In [73]:
my_num_tuple = (1,2,3)
my_alpha_tuple = ('a','b','c')
print(my_num_tuple,'\t Total Elements in Set my_num_tuple = ',len(my_num_tuple))
print(my_alpha_tuple,'\t Total Elements in Set my_num_tuple = ',len(my_alpha_tuple))
zip(my_num_tuple,my_alpha_tuple)
print(tuple(zip(my_num_tuple,my_alpha_tuple)))

(1, 2, 3) 	 Total Elements in Set my_num_tuple =  3
('a', 'b', 'c') 	 Total Elements in Set my_num_tuple =  3
((1, 'a'), (2, 'b'), (3, 'c'))

## Happy Learning !